
@font-face {
    font-family: aquire;
    src: url(fonts/Aquire-BW0ox.otf);
    font-weight: regular;

}
@font-face {
    font-family: spartanlight;
    src: url(fonts/Spartan-Light.ttf);
    font-weight: light;

}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #151515;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: spartanlight; 
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: #ffffff;
    color: #ffffff;
    background-repeat:no-repeat;
    background-position:center center fixed;
    max-width: 100%;
    z-index: 0;
}
/*NAVIGATION*/
.header{
    position: sticky;
    right: 0px;
    top: 0px;
    z-index: 100;   
}
.navbar {
    position: absolute;
    top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 20px 0px;
    width: 100%;
    font-family: geniso;
    z-index: 100;
    color: #ffffff;
    text-align: center;
    /*background-image: linear-gradient(to right, #46eded, #28125c);
    */
}
.nav-link {
    font-size: 1.1vw;
    font-family: spartanlight;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: color .4s ease-in-out, box-shadow .3s ease-in-out;
    display: block;  
}
@media only screen and (max-width: 700px) {
    .nav-link{
        font-size: 18px;
    }
}
#work{

}
#about{

}
#contact{

}
#work-underline{
    border-top: 0px solid white;
    width: 100px;
    margin-top: 5px;
}
#about-underline{
    border-top: 0px solid white;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
#contact-underline{
    border-top: 0px solid white;
    width: 100px;
    margin-top: 5px;   
}
/*effects*/
.nav-link:hover {
    box-shadow: inset 160px 0 0 0 #100830a4;
    color: rgb(255, 255, 255);
}


/*SECTION1*/
.main-container {
    position: absolute;
    background-image: url("../img/background_indredgo.png");
    background-color: #ffffff;
    height: auto;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
.second-container{
    position: relative;
}
.namewrapper{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff; 
}
.name{
    font-size:4.3vw;
    min-height: 20px;
    font-family: aquire; 
}
.designer{
    font-size: 1.35vw;
    font-family: spartanlight;
    text-align: right;
}
@media only screen and (max-width: 700px) {
    .name {
      font-size: 50px;
      margin: 10px;
    }
    .designer{
        font-size: 20px;
        text-align: center;
        margin-top: 30px;
    }
}
/*SECTION2*/
.about{
    width: 100%;
    position: relative;
    top: 100vh;
    background-color: #161616;
    text-align: center;
}
.aboutme{
    background-image: url("../img/matrix-lavaskylavasky3.jpg");
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
.about-title{
    position: relative;
    height: 10vh;
}
#about-head{
    padding: 40px;
    position: relative;
    
}
.about-wrapper{
    height: 70vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    background-image: url("../img/matrix-lavaskylavasky.jp");
    /*background-color: #151515;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    

}
@media only screen and (max-width: 700px) {
    .about-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
  }
.about700{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
.profile-text-wrapper{
    position: relative;
    width: 100%;
    text-align: justify;
    background-color: #151515dc;
    padding: 50px;
    padding-right: 80px;
    
}
.profile-text-wrapper p{
    margin: 5px;
}
.profilepicture{
    display: block;
    max-width: 100%;
}
.about-txt{
    color: white;
    font-size: 50px;
}
/*SECTION3*/
.indigo{
    position: relative;
    top: 100vh;
    width: 100%;
    padding-left: 20vh;
    padding-right: 20vh;
    background-color: #0c0426;
    display: flex;
    flex-wrap: wrap;
    
}
.service-img{
    position: relative;
    display: block;
    max-width: 185px;
    margin-left: auto;
    margin-right: auto;
}
.head1{
    font-size: 25px;
    font-family: spartanlight;
    padding: 10px;
}
.line1{
    border-top: 0px solid white;
    margin-left: auto;
    margin-right: auto;
}

.service{
    height: 37vh;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin: 25px;
}

.service-txt{
    font-size: 18px;
    font-family: spartanlight;  
    text-align: center;
}
.service-txt p{
    margin: 10px;
}
.slogan-wrapper{
    width: 100%;
    text-align: center;
    margin: 30px;
}
.slogan{
    margin: 10px;
    font-size: 1.2rem;
    font-family: spartanlight; 
}
/*SECTION4 Gallery*/
.gallery{
    position: relative;
    top: 100vh;
    width: 100%;
    background-image: url("../img/background_indredgo.png");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;  
}
.link-wrapper{
    padding: 50px;
}
/*SECTION5*/
.projects{
    width: 100%;
    position: relative;
    top: 100vh;
    background-color: #161616;
    text-align: center;   
}
.projecthead-wrapper{
    padding: 10px;
    width: 100%;  
}
.projects-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #161616;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.project{
    max-height: 30vh;
    flex-grow: 1;
    max-width: 100%;
    
}
.project img{
    max-height: 30vh;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    padding: 20px;
}
.project:hover .project-txt-overlay{
    width: 450px;
}
.project-txt-overlay{
    position: relative;
    bottom: 40px;
    left: 0;
    width: 0px;
    height: 40px;
    display: flex;
    overflow: hidden;
    transition: 0.7s ease;
    z-index: 10;
    background-color: #101010c5;
    white-space: nowrap;
    align-items: center;
}
.project-txt-overlay p{
    padding-left: 10px;
}
@media only screen and (max-width: 700px) {
    .project img {
        max-width: 100%;
    }
  }
