@font-face {
    font-family: geniso;
    src: url(fonts/GENISO.ttf);
    font-weight: light;

}


.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #151515;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html {
font-size: 62.5%;
font-family: geniso;
}
li {
list-style: none;
}
a {
text-decoration: none;
color: inherit;
}
body {
background-color: #ffffff;
color: #ffffff;
background-repeat:no-repeat;
background-position:center center fixed; 
max-width: 100%; 
z-index: 0;
}


/*navigation*/
.header{
    position: sticky;
    right: 0px;
    top: 0px;
    z-index: 100;   
}
.navbar {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px;
    width: 100%;
    font-family: geniso;
    font-size: 2rem;
    z-index: 100;
    color: #ffffff;
    /*background-image: linear-gradient(to right, #46eded, #28125c);
    */
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 2rem;
    font-family: geniso;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: color .4s ease-in-out, box-shadow .3s ease-in-out;
    padding: 5px;
    
    
}
/*effects*/
.nav-link:hover {
    box-shadow: inset 160px 0 0 0 #100830a4;
    color: rgb(255, 255, 255);
}
.nav-logo {
    font-size: 2rem;
    font-family: geniso;
    box-shadow: inset 0 0 0 0 #ffffff;
    color: #000000;
    transition: color .4s ease-in-out, box-shadow .3s ease-in-out;
    padding: 5px;
}
.main-container {
    background-image: url("../img/wawe_color.jpg");
    /*background-image: linear-gradient(to right, #46eded, #28125c);*/
    background-color: #ffffff;
    height: 1000px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;

}
.second-container{
    position: relative;
}
.namewrapper{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
  
}
.namewrapper p{
    text-align: center;
    font-family: geniso;
    
}
.name{
    font-size: 52px;
    /*background: -webkit-linear-gradient(#46eded, #28125c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    */
    background: -webkit-linear-gradient(#a27bff, #b5fdff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.designer{
    font-size: 40px;
    background: -webkit-linear-gradient(#a27bff, #b5fdff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
.serviceback{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #fff;
}
.services-wrapper{
    position: relative;
    top: 10vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    
}
.service{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 254, 254);
    border-radius: 5px;
    border: 0px solid #838383;
    background-color: #f3f3f3;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(18, 0, 34, 0.2), 0 6px 20px 0 rgba(8, 0, 44, 0.19);
    
   
}
.service-txt{
    font-family: geniso;
    font-size: 30px;
    text-align: center;
    color: #200c68;
}
.service-ico{
    position: relative;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}
.somestuff{
    position: relative;
}
.stuff-wrapper{
    position: relative;
    background-color: #dadadae8;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.stuff{
    height: 30vh;
    flex-grow: 1;
    position: relative;
    padding: 30px;
}
.stuff img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
}