
    @font-face {
        font-family: azonix;
        src: url(fonts/Azonix.otf);
        font-weight: azo;
}

    @font-face {
        font-family: expansiva ;
        src: url(fonts/expansiva/Expansiva.otf);
    }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.gallery {
	display: flex;
	padding: 2px;
	transition: .3s;
	
	&:hover &__image {
		filter: grayscale(1);
	}
	
	&__column {
		display: flex;
		flex-direction: column;
		width: 25%;
	}
	
	&__link {
		margin: 2px;
		overflow: hidden;
		
		&:hover {
			.gallery__image {
				filter: grayscale(0);
			}
			
			.gallery__caption {
				opacity: 1;
			}
		}
	}
	
	&__thumb {
		position: relative;
	}
	
	&__image {
		display: block;
		width: 100%;
		transition: .3s;
		
		&:hover {
			transform: scale(1.1);
		}
	}
	
	&__caption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 25px 15px 15px;
		width: 100%;
		font-family: 'Raleway', sans-serif;
		font-size: 16px;
		color: white;
		opacity: 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
		transition: .3s;
	}
}




html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


body {
    background-color: #101010;
    color: #ffffff;
    background-repeat:no-repeat;
    background-position:center center fixed;
    /*background-image: url(img/portal.jpg);*/
    background-attachment:fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    max-height: 100%;
    min-height: 500px;
    background-position: center;
}

/*navigation*/
.header{
    position: sticky;
    right: 0px;
    top: 0px;   
}

.navbar {
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    width: 100%;
    font-family: expansiva;
    z-index: 100;
    
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.3rem;
    font-weight: 400;
    color: #ffffff;
    font-family: expansiva;

}

.nav-link:hover{
    color: #ffffff;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
}



@media only screen and (max-width: 1024px) {
    
    .navbar {
        background-color: #00000000;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        
    }
    /*code style of hamburger menu from -  https://dev.to/devggaurav/let-s-build-a-responsive-navbar-and-hamburger-menu-using-html-css-and-javascript-4gci*/
    .nav-menu.active {
        left: 0;
        background-color: rgba(0, 0, 0, 0.85);
        z-index: 100;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    /*media style section*/
    .main{
        position: absolute;
        min-width: 600px;
    }   
}




/*footer*/
footer{
    
    position: absolute;
    top: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.507);
    height: 60px;
    z-index: 10;
    width: 100%;
    text-align: center;

}
footer p{
    padding: 15px;
    color: #101010;
}
